@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Montserrat:wght@300;400;700&family=Raleway&family=Roboto:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /*Propiedad:Permite que la caja no cresca más de lo estipulado, entonces las propiedades de marge, relleno se genere hacia dentro*/
}

body{
    display: flex; /* Dar flexibilidad al elemento, por lo pronto se ubica en un elemento padre, centrado de manera horizontal*/
    align-items: center; /* Alinea los elementos, el elemento que está dentro del elemento padre */
    justify-content: center; /* Alinear el contenido interno del elemento*/
    height: 100vh; /* vh, tomará el valor de la pantalla el 100% de ella, centrandolo de manera vertical*/
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(27deg, #5e92b8 50%, #22577E 50%); /* Nos permite darle diferentes colores al fondo. deg(degradado), el color y el espacio en %*/
}

/*................................*/
/*    Caja del formulario         */
/*    Encabezado del formulario   */
/*................................*/

.form-body{
    width: 400px; /* Tamaño de la caja*/
    min-width: 300px; /* Le damos un límite al tamaño de caja dependiendo de tamaño de la pantalla*/
    border: 1px solid #2c3e46;
    border-radius: 10px;
    border-top-left-radius: 50px;
    border-bottom-right-radius: 50px;
    margin: 10px;
}

/*.................................*/
/*     Imagen del encabezado       */
/*.................................*/

.form-body img{
    width: 100px;
    display: block;
    margin: 20px auto; /* El segundo valor se centra automáticamente */
}

/*.................................*/
/*     Párrafo del encabezado      */
/*.................................*/

.form-body .text{
    text-align: center;
    font-size: 24px;
    font-weight: 600; /* El grueso de la letra */
    color: #ffff;
    margin-bottom: 20px;
}

/*..................................*/
/*   Seudo selectores para input    */
/*   formulario-input - (general)   */
/*..................................*/

.form-body input[type="number"]{
    display: block; /* Para que este uno debajo del otro*/
    margin: auto;
    height: 40px;
    width: 75%;
    padding-left: 10px; /* Para que el placerhorder se separe un poco del borde la de la caja*/
    color: #fff;
    border: 1px solid rgb(222, 222, 222);
    border-radius: 2px;
    /*font-family: ;*/
    background-color: transparent;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 1rem; /* Tamaño flixible, dependerá del tamaño principal de la página o declarado por el body. rem(16px)*/
    outline: none; /* Le quita los bordes que trae el formulario */
}

/*..................................*/
/*     formulario-input - (n2)      */
/*..................................*/

.form-body input[name="n2"]{
    margin-top: 20px;
}

::placeholder {
    text-align: center;
    font-size: 1rem;
    color: #fff;
}

/*..................................*/
/*     formulario-input - (number)  */
/*..................................*/

.form-body input[type="number"]:hover{
    transition: 0.3s;
    border: 1px solid #2980b9;
    color: #000000;
}

/*...................................*/
/*  Seudo selectores para el buttom  */
/*  formulario-input - (buttom)      */
/*...................................*/

/*.form-body input[type="button"]{
    display: block;
    margin: auto;
    height: 40px;
    width: 78%;
    background: #1972a5;
    color: #d7e2ed;
    border: 2px solid rgb(222, 222, 222);
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 30px;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease;
}*/

/*..............................................................*/

.botones{
    text-align: center;
}
.form-body input.suma{
    margin: auto;
    height: 40px;
    width: 20%;
    background: #43a226;
    color: #d7e2ed;
    border: 2px solid rgb(222, 222, 222);
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 30px;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease;
}

.form-body input.resta{
    margin: auto;
    height: 40px;
    width: 20%;
    background: #d8c30b;
    color: #000000;
    border: 2px solid rgb(222, 222, 222);
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 30px;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease;
}


.form-body input.multi{
    margin: auto;
    height: 40px;
    width: 20%;
    background: #2ca6d6;
    color: #ffffff;
    border: 2px solid rgb(222, 222, 222);
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 30px;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease;
}

.form-body input.divi{
    margin: auto;
    height: 40px;
    width: 20%;
    background: #696c68;
    color: #d7e2ed;
    border: 2px solid rgb(222, 222, 222);
    border-radius: 10px;
    margin-top: 25px;
    margin-bottom: 30px;
    cursor: pointer;
    outline: none;
    transition: all 0.5s ease;
}

/*..............................................................*/

.form-body input[type="button"]:hover{
    transition:0.5s;
    border: 2px solid #2980b9;
    color: #fff;
    background: linear-gradient(#34495e, #22577E);
}


/*...................................*/
/*        Conexión con el Js         */
/*...................................*/

.js{
    color: #fff;
    text-align: center;
    margin-bottom: 30px;
}

