@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Raleway&family=Roboto&display=swap');


.contendor-1 {
    font-family: 'Raleway', sans-serif;
    margin: 40px;
    margin-right: 1200px;
    background-color: aqua;
    text-align: center;

    
}