@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Montserrat:wght@300;400;700&family=Raleway&family=Roboto:wght@300;400;700&display=swap');

*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/*..............................*/
/*            Contenedor        */
/*..............................*/

.container{
    width: 9    0%;
    max-width: 1000px;
    height: 90vh;
    background-color: #F7ECDE;
    margin: auto; 
}

/*..............................*/
/*            Encabezado        */
/*..............................*/

.container header{
    background-color: #54BAB9;
    color: #fff;
    padding: 50px;
    text-align: center;
}

/*..............................*/
/*           Menú               */
/*..............................*/

.container nav{
    background-color: #18978F;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    align-items: wrap;
}

.container nav a{
    color: #fff;
    text-decoration: none;
    text-align: center;
    flex-grow: 1;
    padding: 10px 20px;
}

.container nav a:hover{
    background-color: #057F76;
}

/*................................*/
/*      Contenedor secundario     */
/*................................*/

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/*...........................................*/
/*       Aside contenido sin mucho valor     */
/*...........................................*/

.container .main aside{
    background-color: #E9DAC1;
    padding: 20px;
    flex: 10%; /* Es como un width flexible*/
}

.container .main ul{
    padding: 20px 0 0 20px;
}

/*.......................................*/
/*         Contenido más importancia     */
/*.......................................*/

.container .main section{
    padding: 20px;
    flex: 45%;
}

/*..............................*/
/*         Pie de página        */
/*..............................*/

.container footer{
    background-color: #54BAB9;
    color: #fff;
    padding: 20px;
    text-align: center;
}